In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
matplotlib.use('Agg')

In [2]:
# Load training data
train_data = pd.read_pickle('Cleaned_Data/train.pkl')

In [3]:
train_data.head()

,Date,Customer_Code,Customers_Country_Residence,Sex,Age,Date_Acc_Open,New_customer_index,Customer_Seniority,Primary_Customer,Customer_Type_Beginning_Month,...,Mortgage,Pensions1,Loans,Taxes,Credit_card,Securities,Home_Account,Payroll,Pensions2,Direct_Debit
0,2015-01-28,1375586,ES,H,35.0,2015-01-12,0.0,0.0,1.0,1.0,...,0,0.0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,ES,V,23.0,2012-08-10,0.0,35.0,1.0,1.0,...,0,0.0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,ES,V,23.0,2012-08-10,0.0,35.0,1.0,1.0,...,0,0.0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,ES,H,22.0,2012-08-10,0.0,35.0,1.0,1.0,...,0,0.0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,ES,V,23.0,2012-08-10,0.0,35.0,1.0,1.0,...,0,0.0,0,0,0,0,0,0.0,0.0,0

In [4]:
# Second month
train_data_mnth = train_data[train_data['Date']==pd.to_datetime('2015-02-28')]

In [5]:
# Introduce lag features
y = ['Saving_Account', 'Guarantees',
       'Current_Account', 'Derivada_Account', 'Payroll_Account',
       'Junior_Account', 'MAS_Particular_Account', 'Particular_Account',
       'Particular_Plus_Account', 'Short_Term_Deposit', 'Medium_Term_Deposit',
       'Long_Term_Deposit', 'E_Account', 'Funds', 'Mortgage', 'Pensions1',
       'Loans', 'Taxes', 'Credit_card', 'Securities', 'Home_Account',
       'Payroll', 'Pensions2', 'Direct_Debit']

In [6]:
# Get the customer products from the previous month
lag_products = train_data[train_data['Date']==pd.to_datetime('2015-01-28')].loc[:,y]
len(lag_products)

615161

In [7]:
# Add prev tag to lag features
lag_products.columns = ['prev_'+ x for x in lag_products.columns]
lag_products.columns

Index(['prev_Saving_Account', 'prev_Guarantees', 'prev_Current_Account',
       'prev_Derivada_Account', 'prev_Payroll_Account', 'prev_Junior_Account',
       'prev_MAS_Particular_Account', 'prev_Particular_Account',
       'prev_Particular_Plus_Account', 'prev_Short_Term_Deposit',
       'prev_Medium_Term_Deposit', 'prev_Long_Term_Deposit', 'prev_E_Account',
       'prev_Funds', 'prev_Mortgage', 'prev_Pensions1', 'prev_Loans',
       'prev_Taxes', 'prev_Credit_card', 'prev_Securities',
       'prev_Home_Account', 'prev_Payroll', 'prev_Pensions2',
       'prev_Direct_Debit'],
      dtype='object')

In [8]:
# Make customer code the index
lag_products.index = train_data[train_data['Date']==pd.to_datetime('2015-01-28')]['Customer_Code']

In [9]:
# Make customer code the index
train_data_mnth.index = train_data_mnth['Customer_Code']

In [10]:
# Left join using customer code
train_data_with_lag_features = pd.concat([train_data_mnth,lag_products],join_axes=[train_data_mnth.index],axis=1)

In [11]:
# Due to new customer some lag features become nans
train_data_with_lag_features.isnull().sum()

Date                                         0
Customer_Code                                0
Customers_Country_Residence                  0
Sex                                          0
Age                                          0
Date_Acc_Open                                0
New_customer_index                           0
Customer_Seniority                           0
Primary_Customer                             0
Customer_Type_Beginning_Month                0
Customer_Relation_Type_Beginning_Month       0
Residence_Index                              0
Foreigner_Index                              0
Channel_Customer_join                        0
Deceased_Index                               0
Address_Type                                 0
Province_Code                                0
Province_Name                                0
Activity_Index                               0
Household_Income                             0
Segmentation                                 0
Saving_Account                               0
Guarantees                                   0
Current_Account                              0
Derivada_Account                             0
Payroll_Account                              0
Junior_Account                               0
MAS_Particular_Account                       0
Particular_Account                           0
Particular_Plus_Account                      0
                                          ...
Credit_card                                  0
Securities                                   0
Home_Account                                 0
Payroll                                      0
Pensions2                                    0
Direct_Debit                                 0
prev_Saving_Account                       4365
prev_Guarantees                           4365
prev_Current_Account                      4365
prev_Derivada_Account                     4365
prev_Payroll_Account                      4365
prev_Junior_Account                       4365
prev_MAS_Particular_Account               4365
prev_Particular_Account                   4365
prev_Particular_Plus_Account              4365
prev_Short_Term_Deposit                   4365
prev_Medium_Term_Deposit                  4365
prev_Long_Term_Deposit                    4365
prev_E_Account                            4365
prev_Funds                                4365
prev_Mortgage                             4365
prev_Pensions1                            4365
prev_Loans                                4365
prev_Taxes                                4365
prev_Credit_card                          4365
prev_Securities                           4365
prev_Home_Account                         4365
prev_Payroll                              4365
prev_Pensions2                            4365
prev_Direct_Debit                         4365
Length: 69, dtype: int64

In [12]:
# Reset the df index
train_data_with_lag_features.reset_index(drop=True,inplace=True)

In [13]:
train_data_with_lag_features.head(5)

,Date,Customer_Code,Customers_Country_Residence,Sex,Age,Date_Acc_Open,New_customer_index,Customer_Seniority,Primary_Customer,Customer_Type_Beginning_Month,...,prev_Mortgage,prev_Pensions1,prev_Loans,prev_Taxes,prev_Credit_card,prev_Securities,prev_Home_Account,prev_Payroll,prev_Pensions2,prev_Direct_Debit
0,2015-02-28,545090,ES,V,67.0,2005-08-02,0.0,120.0,1.0,1.0,...,0,0.0,0,0,0,0,0,0.0,0.0,0
1,2015-02-28,545106,ES,H,40.0,2005-08-30,0.0,120.0,1.0,1.0,...,0,0.0,0,0,1,0,0,0.0,0.0,0
2,2015-02-28,545102,ES,V,46.0,2005-08-02,0.0,120.0,1.0,1.0,...,0,0.0,0,0,0,0,0,0.0,0.0,0
3,2015-02-28,545101,ES,V,38.0,2005-08-02,0.0,120.0,1.0,1.0,...,0,0.0,0,0,0,0,0,0.0,0.0,1
4,2015-02-28,545158,ES,V,47.0,2005-08-03,0.0,108.0,1.0,1.0,...,0,0.0,1,0,0,0,0,0.0,0.0,0

In [14]:
# Check if the lag features are appended as per the customer codes
train_data[(train_data['Date']==pd.to_datetime('2015-01-28')) & (train_data['Customer_Code']==545101)]

,Date,Customer_Code,Customers_Country_Residence,Sex,Age,Date_Acc_Open,New_customer_index,Customer_Seniority,Primary_Customer,Customer_Type_Beginning_Month,...,Mortgage,Pensions1,Loans,Taxes,Credit_card,Securities,Home_Account,Payroll,Pensions2,Direct_Debit
618008,2015-01-28,545101,ES,V,38.0,2005-08-02,0.0,120.0,1.0,1.0,...,0,0.0,0,0,0,0,0,0.0,0.0,1

In [15]:
lag_features_name = ['prev_Saving_Account', 'prev_Guarantees', 'prev_Current_Account',
       'prev_Derivada_Account', 'prev_Payroll_Account', 'prev_Junior_Account',
       'prev_MAS_Particular_Account', 'prev_Particular_Account',
       'prev_Particular_Plus_Account', 'prev_Short_Term_Deposit',
       'prev_Medium_Term_Deposit', 'prev_Long_Term_Deposit', 'prev_E_Account',
       'prev_Funds', 'prev_Mortgage', 'prev_Pensions1', 'prev_Loans',
       'prev_Taxes', 'prev_Credit_card', 'prev_Securities',
       'prev_Home_Account', 'prev_Payroll', 'prev_Pensions2',
       'prev_Direct_Debit']

In [16]:
# Convert to nan to fill
train_data_with_lag_features[lag_features_name] = train_data_with_lag_features[lag_features_name].astype('float')

In [17]:
# Deal with na values
train_data_with_lag_features[lag_features_name] = train_data_with_lag_features[lag_features_name].fillna(0)

In [18]:
# Convert back to categorical data
train_data_with_lag_features[lag_features_name] = train_data_with_lag_features[lag_features_name].astype('category')

In [19]:
train_data_with_lag_features.isnull().sum()

Date                                      0
Customer_Code                             0
Customers_Country_Residence               0
Sex                                       0
Age                                       0
Date_Acc_Open                             0
New_customer_index                        0
Customer_Seniority                        0
Primary_Customer                          0
Customer_Type_Beginning_Month             0
Customer_Relation_Type_Beginning_Month    0
Residence_Index                           0
Foreigner_Index                           0
Channel_Customer_join                     0
Deceased_Index                            0
Address_Type                              0
Province_Code                             0
Province_Name                             0
Activity_Index                            0
Household_Income                          0
Segmentation                              0
Saving_Account                            0
Guarantees                                0
Current_Account                           0
Derivada_Account                          0
Payroll_Account                           0
Junior_Account                            0
MAS_Particular_Account                    0
Particular_Account                        0
Particular_Plus_Account                   0
                                         ..
Credit_card                               0
Securities                                0
Home_Account                              0
Payroll                                   0
Pensions2                                 0
Direct_Debit                              0
prev_Saving_Account                       0
prev_Guarantees                           0
prev_Current_Account                      0
prev_Derivada_Account                     0
prev_Payroll_Account                      0
prev_Junior_Account                       0
prev_MAS_Particular_Account               0
prev_Particular_Account                   0
prev_Particular_Plus_Account              0
prev_Short_Term_Deposit                   0
prev_Medium_Term_Deposit                  0
prev_Long_Term_Deposit                    0
prev_E_Account                            0
prev_Funds                                0
prev_Mortgage                             0
prev_Pensions1                            0
prev_Loans                                0
prev_Taxes                                0
prev_Credit_card                          0
prev_Securities                           0
prev_Home_Account                         0
prev_Payroll                              0
prev_Pensions2                            0
prev_Direct_Debit                         0
Length: 69, dtype: int64

In [20]:
train_data = train_data_with_lag_features

In [21]:
# Columns
train_data.columns

Index(['Date', 'Customer_Code', 'Customers_Country_Residence', 'Sex', 'Age',
       'Date_Acc_Open', 'New_customer_index', 'Customer_Seniority',
       'Primary_Customer', 'Customer_Type_Beginning_Month',
       'Customer_Relation_Type_Beginning_Month', 'Residence_Index',
       'Foreigner_Index', 'Channel_Customer_join', 'Deceased_Index',
       'Address_Type', 'Province_Code', 'Province_Name', 'Activity_Index',
       'Household_Income', 'Segmentation', 'Saving_Account', 'Guarantees',
       'Current_Account', 'Derivada_Account', 'Payroll_Account',
       'Junior_Account', 'MAS_Particular_Account', 'Particular_Account',
       'Particular_Plus_Account', 'Short_Term_Deposit', 'Medium_Term_Deposit',
       'Long_Term_Deposit', 'E_Account', 'Funds', 'Mortgage', 'Pensions1',
       'Loans', 'Taxes', 'Credit_card', 'Securities', 'Home_Account',
       'Payroll', 'Pensions2', 'Direct_Debit', 'prev_Saving_Account',
       'prev_Guarantees', 'prev_Current_Account', 'prev_Derivada_Account',
       'prev_Payroll_Account', 'prev_Junior_Account',
       'prev_MAS_Particular_Account', 'prev_Particular_Account',
       'prev_Particular_Plus_Account', 'prev_Short_Term_Deposit',
       'prev_Medium_Term_Deposit', 'prev_Long_Term_Deposit', 'prev_E_Account',
       'prev_Funds', 'prev_Mortgage', 'prev_Pensions1', 'prev_Loans',
       'prev_Taxes', 'prev_Credit_card', 'prev_Securities',
       'prev_Home_Account', 'prev_Payroll', 'prev_Pensions2',
       'prev_Direct_Debit'],
      dtype='object')

In [22]:
# Numeric features
numeric_cols = ['Age','Customer_Seniority','Household_Income']
# Not categorical features
not_categorical_cols = ['Date','Date_Acc_Open','Customer_Code']
 
categorical = ['Customers_Country_Residence','']

# Y
y = ['Saving_Account', 'Guarantees',
       'Current_Account', 'Derivada_Account', 'Payroll_Account',
       'Junior_Account', 'MAS_Particular_Account', 'Particular_Account',
       'Particular_Plus_Account', 'Short_Term_Deposit', 'Medium_Term_Deposit',
       'Long_Term_Deposit', 'E_Account', 'Funds', 'Mortgage', 'Pensions1',
       'Loans', 'Taxes', 'Credit_card', 'Securities', 'Home_Account',
       'Payroll', 'Pensions2', 'Direct_Debit']

df_numeric = train_data[numeric_cols]
df_categorical = train_data[list(set(train_data.columns)-set(numeric_cols)-set(not_categorical_cols)-set(y))]

In [23]:
# Keep only the base categorical features in the data
to_remove_from_categorical= ['Customers_Country_Residence','Primary_Customer','Customer_Type_Beginning_Month','Channel_Customer_join','Deceased_Index','Address_Type','Province_Code']
df_categorical.drop(to_remove_from_categorical,axis=1,inplace=True)

In [24]:
df_categorical.head(5)

,prev_Taxes,prev_Current_Account,Segmentation,Foreigner_Index,prev_Long_Term_Deposit,prev_Guarantees,prev_Funds,prev_Loans,prev_Saving_Account,Sex,...,Customer_Relation_Type_Beginning_Month,prev_Pensions1,prev_Mortgage,prev_Particular_Account,prev_Payroll_Account,prev_MAS_Particular_Account,New_customer_index,prev_Home_Account,prev_Particular_Plus_Account,prev_Derivada_Account
0,0.0,1.0,02 - PARTICULARES,N,0.0,0.0,0.0,0.0,0.0,V,...,I,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,02 - PARTICULARES,N,0.0,0.0,0.0,0.0,0.0,H,...,A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,02 - PARTICULARES,N,0.0,0.0,0.0,0.0,0.0,V,...,I,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,02 - PARTICULARES,N,0.0,0.0,0.0,0.0,0.0,V,...,A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,02 - PARTICULARES,N,0.0,0.0,0.0,1.0,0.0,V,...,A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
df_categorical = pd.get_dummies(df_categorical)

In [26]:
df_categorical.head(5)

,New_customer_index,prev_Taxes_0.0,prev_Taxes_1.0,prev_Current_Account_0.0,prev_Current_Account_1.0,Segmentation_01 - TOP,Segmentation_02 - PARTICULARES,Segmentation_03 - UNIVERSITARIO,Foreigner_Index_N,Foreigner_Index_S,...,prev_Payroll_Account_0.0,prev_Payroll_Account_1.0,prev_MAS_Particular_Account_0.0,prev_MAS_Particular_Account_1.0,prev_Home_Account_0.0,prev_Home_Account_1.0,prev_Particular_Plus_Account_0.0,prev_Particular_Plus_Account_1.0,prev_Derivada_Account_0.0,prev_Derivada_Account_1.0
0,0.0,1,0,0,1,0,1,0,1,0,...,1,0,1,0,1,0,1,0,1,0
1,0.0,1,0,1,0,0,1,0,1,0,...,1,0,1,0,1,0,1,0,1,0
2,0.0,1,0,0,1,0,1,0,1,0,...,1,0,1,0,1,0,1,0,1,0
3,0.0,1,0,0,1,0,1,0,1,0,...,1,0,1,0,1,0,0,1,1,0
4,0.0,1,0,0,1,0,1,0,1,0,...,1,0,1,0,1,0,1,0,1,0

In [27]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
normalized_numeric_np = scaler.fit_transform(df_numeric)
df_numeric = pd.DataFrame(normalized_numeric_np)
df_numeric.columns = ['Age','Customer_Seniority','Household_Income']

In [28]:
df_numeric = df_numeric.reset_index(drop=True)
df_categorical = df_categorical.reset_index(drop=True)
dates_and_cc = pd.DataFrame(train_data[['Date','Date_Acc_Open','Customer_Code']]).reset_index(drop=True)
dates_and_cc

             Date Date_Acc_Open  Customer_Code
0      2015-02-28    2005-08-02         545090
1      2015-02-28    2005-08-30         545106
2      2015-02-28    2005-08-02         545102
3      2015-02-28    2005-08-02         545101
4      2015-02-28    2005-08-03         545158
5      2015-02-28    2005-08-02         545100
6      2015-02-28    2005-08-02         545099
7      2015-02-28    2005-08-02         545092
8      2015-02-28    2005-08-02         545091
9      2015-02-28    2005-08-02         545098
10     2015-02-28    2005-08-02         545086
11     2015-02-28    2005-10-10         545093
12     2015-02-28    2005-08-02         545107
13     2015-02-28    2005-08-02         545123
14     2015-02-28    2005-08-02         545110
15     2015-02-28    2005-08-03         545163
16     2015-02-28    2005-08-02         545148
17     2015-02-28    2005-08-02         545146
18     2015-02-28    2005-08-02         545130
19     2015-02-28    2005-08-03         545165
20     2015-02-28    2005-08-03         545166
21     2015-02-28    2005-08-02         545084
22     2015-02-28    2005-08-02         545128
23     2015-02-28    2005-08-01         544557
24     2015-02-28    2005-08-02         545122
25     2015-02-28    2005-08-02         545121
26     2015-02-28    2005-08-02         545119
27     2015-02-28    2005-08-02         545113
28     2015-02-28    2005-08-02         545142
29     2015-02-28    2005-08-02         545112
...           ...           ...            ...
617295 2015-02-28    2012-09-10        1057262
617296 2015-02-28    2012-09-10        1057261
617297 2015-02-28    2012-09-10        1057259
617298 2015-02-28    2012-09-10        1057258
617299 2015-02-28    2012-09-10        1057257
617300 2015-02-28    2012-09-10        1057266
617301 2015-02-28    2012-09-10        1057256
617302 2015-02-28    2012-09-10        1057254
617303 2015-02-28    2012-09-10        1057253
617304 2015-02-28    2012-09-10        1057252
617305 2015-02-28    2012-09-10        1057251
617306 2015-02-28    2012-09-10        1057250
617307 2015-02-28    2012-09-10        1057283
617308 2015-02-28    2012-09-10        1057249
617309 2015-02-28    2012-09-10        1057255
617310 2015-02-28    2012-09-10        1057267
617311 2015-02-28    2012-09-10        1057263
617312 2015-02-28    2012-09-10        1057269
617313 2015-02-28    2012-09-10        1057278
617314 2015-02-28    2012-09-10        1057276
617315 2015-02-28    2012-09-10        1057275
617316 2015-02-28    2012-09-10        1057274
617317 2015-02-28    2012-09-10        1057279
617318 2015-02-28    2012-09-10        1057272
617319 2015-02-28    2012-09-10        1057273
617320 2015-02-28    2012-09-10        1057281
617321 2015-02-28    2012-09-10        1057270
617322 2015-02-28    2012-09-10        1057282
617323 2015-02-28    2012-09-10        1057504
617324 2015-02-28    2012-09-10        1057271

[617325 rows x 3 columns]

In [29]:
train_df_processed = pd.concat([dates_and_cc,df_numeric,df_categorical],axis=1)

In [30]:
train_df_processed

,Date,Date_Acc_Open,Customer_Code,Age,Customer_Seniority,Household_Income,New_customer_index,prev_Taxes_0.0,prev_Taxes_1.0,prev_Current_Account_0.0,...,prev_Payroll_Account_0.0,prev_Payroll_Account_1.0,prev_MAS_Particular_Account_0.0,prev_MAS_Particular_Account_1.0,prev_Home_Account_0.0,prev_Home_Account_1.0,prev_Particular_Plus_Account_0.0,prev_Particular_Plus_Account_1.0,prev_Derivada_Account_0.0,prev_Derivada_Account_1.0
0,2015-02-28,2005-08-02,545090,0.570175,0.487805,0.003309,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
1,2015-02-28,2005-08-30,545106,0.333333,0.487805,0.003733,0.0,1,0,1,...,1,0,1,0,1,0,1,0,1,0
2,2015-02-28,2005-08-02,545102,0.385965,0.487805,0.006799,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
3,2015-02-28,2005-08-02,545101,0.315789,0.487805,0.001312,0.0,1,0,0,...,1,0,1,0,1,0,0,1,1,0
4,2015-02-28,2005-08-03,545158,0.394737,0.439024,0.003071,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
5,2015-02-28,2005-08-02,545100,0.359649,0.487805,0.002641,0.0,1,0,1,...,1,0,1,0,1,0,1,0,1,0
6,2015-02-28,2005-08-02,545099,0.377193,0.487805,0.002130,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
7,2015-02-28,2005-08-02,545092,0.561404,0.487805,0.006206,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
8,2015-02-28,2005-08-02,545091,0.342105,0.487805,0.002762,0.0,1,0,1,...,0,1,1,0,1,0,1,0,1,0
9,2015-02-28,2005-08-02,545098,0.464912,0.487805,0.004816,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
10,2015-02-28,2005-08-02,545086,0.350877,0.487805,0.002498,0.0,0,1,0,...,1,0,1,0,1,0,1,0,1,0
11,2015-02-28,2005-10-10,545093,0.578947,0.475610,0.004271,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
12,2015-02-28,2005-08-02,545107,0.552632,0.487805,0.006161,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
13,2015-02-28,2005-08-02,545123,0.315789,0.487805,0.008231,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
14,2015-02-28,2005-08-02,545110,0.456140,0.487805,0.003492,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
15,2015-02-28,2005-08-03,545163,0.385965,0.483740,0.010748,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
16,2015-02-28,2005-08-02,545148,0.350877,0.487805,0.005332,0.0,1,0,0,...,1,0,1,0,0,1,1,0,1,0
17,2015-02-28,2005-08-02,545146,0.429825,0.487805,0.005601,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
18,2015-02-28,2005-08-02,545130,0.421053,0.162602,0.001466,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
19,2015-02-28,2005-08-03,545165,0.403509,0.483740,0.001196,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
20,2015-02-28,2005-08-03,545166,0.385965,0.451220,0.003176,0.0,1,0,1,...,0,1,1,0,0,1,0,1,1,0
21,2015-02-28,2005-08-02,545084,0.587719,0.487805,0.002972,0.0,1,0,1,...,1,0,1,0,1,0,1,0,1,0
22,2015-02-28,2005-08-02,545128,0.087719,0.487805,0.002421,0.0,1,0,1,...,1,0,1,0,1,0,1,0,1,0
23,2015-02-28,2005-08-01,544557,0.412281,0.487805,0.004838,0.0,1,0,1,...,1,0,1,0,1,0,1,0,1,0
24,2015-02-28,2005-08-02,545122,0.298246,0.487805,0.004026,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
25,2015-02-28,2005-08-02,545121,0.324561,0.487805,0.004250,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
26,2015-02-28,2005-08-02,545119,0.368421,0.487805,0.007021,0.0,1,0,1,...,1,0,1,0,1,0,1,0,1,0
27,2015-02-28,2005-08-02,545113,0.403509,0.036585,0.002365,0.0,1,0,0,...,0,1,1,0,1,0,1,0,1,0
28,2015-02-28,2005-08-02,545142,0.438596,0.487805,0.002188,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
29,2015-02-28,2005-08-02,545112,0.526316,0.487805,0.002748,0.0,1,0,1,...,1,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
617295,2015-02-28,2012-09-10,1057262,0.271930,0.138211,0.002534,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617296,2015-02-28,2012-09-10,1057261,0.263158,0.138211,0.003217,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617297,2015-02-28,2012-09-10,1057259,0.236842,0.138211,0.005423,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617298,2015-02-28,2012-09-10,1057258,0.184211,0.138211,0.001684,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617299,2015-02-28,2012-09-10,1057257,0.201754,0.138211,0.000867,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617300,2015-02-28,2012-09-10,1057266,0.184211,0.138211,0.001475,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617301,2015-02-28,2012-09-10,1057256,0.192982,0.138211,0.002255,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617302,2015-02-28,2012-09-10,1057254,0.184211,0.138211,0.003699,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617303,2015-02-28,2012-09-10,1057253,0.368421,0.138211,0.001665,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617304,2015-02-28,2012-09-10,1057252,0.184211,0.138211,0.007568,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617305,2015-02-28,2012-09-10,1057251,0.184211,0.138211,0.002844,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617306,2015-02-28,2012-09-10,1057250,0.245614,0.138211,0.000834,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617307,2015-02-28,2012-09-10,1057283,0.359649,0.138211,0.003257,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617308,2015-02-28,2012-09-10,1057249,0.192982,0.138211,0.002534,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617309,2015-02-28,2012-09-10,1057255,0.184211,0.138211,0.003564,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617310,2015-02-28,2012-09-10,1057267,0.184211,0.138211,0.003865,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617311,2015-02-28,2012-09-10,1057263,0.201754,0.138211,0.002410,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617312,2015-02-28,2012-09-10,1057269,0.210526,0.138211,0.001265,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617313,2015-02-28,2012-09-10,1057278,0.184211,0.138211,0.002854,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617314,2015-02-28,2012-09-10,1057276,0.192982,0.138211,0.002738,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617315,2015-02-28,2012-09-10,1057275,0.263158,0.138211,0.003117,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617316,2015-02-28,2012-09-10,1057274,0.184211,0.138211,0.005555,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617317,2015-02-28,2012-09-10,1057279,0.263158,0.138211,0.002593,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617318,2015-02-28,2012-09-10,1057272,0.254386,0.138211,0.002797,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617319,2015-02-28,2012-09-10,1057273,0.298246,0.138211,0.004707,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617320,2015-02-28,2012-09-10,1057281,0.210526,0.138211,0.001940,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617321,2015-02-28,2012-09-10,1057270,0.192982,0.138211,0.002842,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617322,2015-02-28,2012-09-10,1057282,0.184211,0.138211,0.001607,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617323,2015-02-28,2012-09-10,1057504,0.184211,0.138211,0.003853,0.0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
617324,2015-02-28,2012-09-10,1057271,0.245614,0.138211,0.003391,0.0,1,0,1,...,0,1,1,0,1,0,1,0,1,0

In [32]:
train_df_processed.reset_index(drop=True,inplace=True)
y = train_data[y].reset_index(drop=True)

In [33]:
train_df_processed = pd.concat([train_df_processed,y],axis=1)

In [34]:
train_df_processed.isnull().sum()

Date                                0
Date_Acc_Open                       0
Customer_Code                       0
Age                                 0
Customer_Seniority                  0
Household_Income                    0
New_customer_index                  0
prev_Taxes_0.0                      0
prev_Taxes_1.0                      0
prev_Current_Account_0.0            0
prev_Current_Account_1.0            0
Segmentation_01 - TOP               0
Segmentation_02 - PARTICULARES      0
Segmentation_03 - UNIVERSITARIO     0
Foreigner_Index_N                   0
Foreigner_Index_S                   0
prev_Long_Term_Deposit_0.0          0
prev_Long_Term_Deposit_1.0          0
prev_Guarantees_0.0                 0
prev_Guarantees_1.0                 0
prev_Funds_0.0                      0
prev_Funds_1.0                      0
prev_Loans_0.0                      0
prev_Loans_1.0                      0
prev_Saving_Account_0.0             0
prev_Saving_Account_1.0             0
Sex_H                               0
Sex_V                               0
prev_Medium_Term_Deposit_0.0        0
prev_Medium_Term_Deposit_1.0        0
                                   ..
prev_Home_Account_0.0               0
prev_Home_Account_1.0               0
prev_Particular_Plus_Account_0.0    0
prev_Particular_Plus_Account_1.0    0
prev_Derivada_Account_0.0           0
prev_Derivada_Account_1.0           0
Saving_Account                      0
Guarantees                          0
Current_Account                     0
Derivada_Account                    0
Payroll_Account                     0
Junior_Account                      0
MAS_Particular_Account              0
Particular_Account                  0
Particular_Plus_Account             0
Short_Term_Deposit                  0
Medium_Term_Deposit                 0
Long_Term_Deposit                   0
E_Account                           0
Funds                               0
Mortgage                            0
Pensions1                           0
Loans                               0
Taxes                               0
Credit_card                         0
Securities                          0
Home_Account                        0
Payroll                             0
Pensions2                           0
Direct_Debit                        0
Length: 147, dtype: int64

In [35]:
# Save the data which is relevant, normalized and one-hot encoded
train_df_processed.to_pickle("train_month2_with_lag.pkl")

In [32]:
train_df_processed.columns

Index(['Date', 'Date_Acc_Open', 'Customer_Code', 'Age', 'Customer_Seniority',
       'Household_Income', 'New_customer_index', 'Activity_Index_0.0',
       'Activity_Index_1.0', 'Customer_Relation_Type_Beginning_Month_A',
       'Customer_Relation_Type_Beginning_Month_I',
       'Customer_Relation_Type_Beginning_Month_N',
       'Customer_Relation_Type_Beginning_Month_P',
       'Customer_Relation_Type_Beginning_Month_R', 'Province_Name_ALAVA',
       'Province_Name_ALBACETE', 'Province_Name_ALICANTE',
       'Province_Name_ALMERIA', 'Province_Name_ASTURIAS',
       'Province_Name_AVILA', 'Province_Name_BADAJOZ',
       'Province_Name_BALEARS, ILLES', 'Province_Name_BARCELONA',
       'Province_Name_BIZKAIA', 'Province_Name_BURGOS',
       'Province_Name_CACERES', 'Province_Name_CADIZ',
       'Province_Name_CANTABRIA', 'Province_Name_CASTELLON',
       'Province_Name_CEUTA', 'Province_Name_CIUDAD REAL',
       'Province_Name_CORDOBA', 'Province_Name_CORUÑA, A',
       'Province_Name_CUENCA', 'Province_Name_GIPUZKOA',
       'Province_Name_GIRONA', 'Province_Name_GRANADA',
       'Province_Name_GUADALAJARA', 'Province_Name_HUELVA',
       'Province_Name_HUESCA', 'Province_Name_JAEN', 'Province_Name_LEON',
       'Province_Name_LERIDA', 'Province_Name_LUGO', 'Province_Name_MADRID',
       'Province_Name_MALAGA', 'Province_Name_MELILLA', 'Province_Name_MURCIA',
       'Province_Name_NAVARRA', 'Province_Name_OURENSE',
       'Province_Name_PALENCIA', 'Province_Name_PALMAS, LAS',
       'Province_Name_PONTEVEDRA', 'Province_Name_RIOJA, LA',
       'Province_Name_SALAMANCA', 'Province_Name_SANTA CRUZ DE TENERIFE',
       'Province_Name_SEGOVIA', 'Province_Name_SEVILLA', 'Province_Name_SORIA',
       'Province_Name_TARRAGONA', 'Province_Name_TERUEL',
       'Province_Name_TOLEDO', 'Province_Name_VALENCIA',
       'Province_Name_VALLADOLID', 'Province_Name_ZAMORA',
       'Province_Name_ZARAGOZA', 'Sex_H', 'Sex_V', 'Foreigner_Index_N',
       'Foreigner_Index_S', 'Residence_Index_N', 'Residence_Index_S',
       'Segmentation_01 - TOP', 'Segmentation_02 - PARTICULARES',
       'Segmentation_03 - UNIVERSITARIO', 'Saving_Account', 'Guarantees',
       'Current_Account', 'Derivada_Account', 'Payroll_Account',
       'Junior_Account', 'MAS_Particular_Account', 'Particular_Account',
       'Particular_Plus_Account', 'Short_Term_Deposit', 'Medium_Term_Deposit',
       'Long_Term_Deposit', 'E_Account', 'Funds', 'Mortgage', 'Pensions1',
       'Loans', 'Taxes', 'Credit_card', 'Securities', 'Home_Account',
       'Payroll', 'Pensions2', 'Direct_Debit'],
      dtype='object')