In [1]:
import pandas as pd

In [3]:
# Import data
train_data = pd.read_csv("train_ver2.csv")

C:\Users\Parth\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
train_data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13647309 entries, 0 to 13647308
Data columns (total 48 columns):
fecha_dato               object
ncodpers                 int64
ind_empleado             object
pais_residencia          object
sexo                     object
age                      object
fecha_alta               object
ind_nuevo                float64
antiguedad               object
indrel                   float64
ult_fec_cli_1t           object
indrel_1mes              object
tiprel_1mes              object
indresi                  object
indext                   object
conyuemp                 object
canal_entrada            object
indfall                  object
tipodom                  float64
cod_prov                 float64
nomprov                  object
ind_actividad_cliente    float64
renta                    float64
segmento                 object
ind_ahor_fin_ult1        int64
ind_aval_fin_ult1        int64
ind_cco_fin_ult1         int64
ind_cder_fin_ult1        int64
ind_cno_fin_ult1         int64
ind_ctju_fin_ult1        int64
ind_ctma_fin_ult1        int64
ind_ctop_fin_ult1        int64
ind_ctpp_fin_ult1        int64
ind_deco_fin_ult1        int64
ind_deme_fin_ult1        int64
ind_dela_fin_ult1        int64
ind_ecue_fin_ult1        int64
ind_fond_fin_ult1        int64
ind_hip_fin_ult1         int64
ind_plan_fin_ult1        int64
ind_pres_fin_ult1        int64
ind_reca_fin_ult1        int64
ind_tjcr_fin_ult1        int64
ind_valo_fin_ult1        int64
ind_viv_fin_ult1         int64
ind_nomina_ult1          float64
ind_nom_pens_ult1        float64
ind_recibo_ult1          int64
dtypes: float64(8), int64(23), object(17)
memory usage: 15.3 GB

In [ ]:
def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # we assume if not a df it's a series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # convert bytes to megabytes
    return "{:03.2f} MB".format(usage_mb)

train_data_int = train_data.select_dtypes(include=['int'])
converted_int = train_data.apply(pd.to_numeric,downcast='unsigned')

print(mem_usage(train_data_int))
print(mem_usage(converted_int))

In [6]:
train_data_copy = train_data

# Change column names from Spanish to English
train_data_copy.columns = ['Date','Customer_Code','Employee_Index','Customers_Country_Residence','Sex','Age','Date_Acc_Open','New_customer_index','Customer_Seniority','Primary_Customer','Last_Date_Primary_Customer','Customer_Type_Beginning_Month','Customer_Relation_Type_Beginning_Month','Residence_Index','Foreigner_Index','Spouse_Index','Channel_Customer_join','Deceased_Index','Address_Type','Province_Code','Province_Name','Activity_Index','Household_Income','Segmentation','Saving_Account','Guarantees','Current_Account','Derivada_Account','Payroll_Account','Junior_Account','MAS_Particular_Account','Particular_Account','Particular_Plus_Account','Short_Term_Deposit','Medium_Term_Deposit','Long_Term_Deposit','E_Account','Funds','Mortgage','Pensions','Loans','Taxes','Credit_card','Securities','Home_Account','Payroll','Pensions','Direct_Debit']

# View data
train_data_copy.head(5)

,Date,Customer_Code,Employee_Index,Customers_Country_Residence,Sex,Age,Date_Acc_Open,New_customer_index,Customer_Seniority,Primary_Customer,...,Mortgage,Pensions,Loans,Taxes,Credit_card,Securities,Home_Account,Payroll,Pensions,Direct_Debit
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [8]:
train_data_copy.describe()

,Customer_Code,New_customer_index,Primary_Customer,Address_Type,Province_Code,Activity_Index,Household_Income,Saving_Account,Guarantees,Current_Account,...,Mortgage,Pensions,Loans,Taxes,Credit_card,Securities,Home_Account,Payroll,Pensions,Direct_Debit
count,1.364731e+07,1.361958e+07,1.361958e+07,13619574.0,1.355372e+07,1.361958e+07,1.085293e+07,1.364731e+07,1.364731e+07,1.364731e+07,...,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.363125e+07,1.363125e+07,1.364731e+07
mean,8.349042e+05,5.956184e-02,1.178399e+00,1.0,2.657147e+01,4.578105e-01,1.342543e+05,1.022912e-04,2.315475e-05,6.554837e-01,...,5.886582e-03,9.170965e-03,2.627404e-03,5.253636e-02,4.438868e-02,2.560761e-02,3.847718e-03,5.472434e-02,5.942854e-02,1.279162e-01
std,4.315650e+05,2.366733e-01,4.177469e+00,0.0,1.278402e+01,4.982169e-01,2.306202e+05,1.011340e-02,4.811883e-03,4.752103e-01,...,7.649791e-02,9.532502e-02,5.119083e-02,2.231060e-01,2.059571e-01,1.579616e-01,6.191053e-02,2.274414e-01,2.364250e-01,3.339965e-01
min,1.588900e+04,0.000000e+00,1.000000e+00,1.0,1.000000e+00,0.000000e+00,1.202730e+03,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.528130e+05,0.000000e+00,1.000000e+00,1.0,1.500000e+01,0.000000e+00,6.871098e+04,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,9.318930e+05,0.000000e+00,1.000000e+00,1.0,2.800000e+01,0.000000e+00,1.018500e+05,0.000000e+00,0.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.199286e+06,0.000000e+00,1.000000e+00,1.0,3.500000e+01,1.000000e+00,1.559560e+05,0.000000e+00,0.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,1.553689e+06,1.000000e+00,9.900000e+01,1.0,5.200000e+01,1.000000e+00,2.889440e+07,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [10]:
train_data_copy.shape

(13647309, 48)

In [13]:
train_data_copy.isnull().sum()

Date                                             0
Customer_Code                                    0
Employee_Index                               27734
Customers_Country_Residence                  27734
Sex                                          27804
Age                                              0
Date_Acc_Open                                27734
New_customer_index                           27734
Customer_Seniority                               0
Primary_Customer                             27734
Last_Date_Primary_Customer                13622516
Customer_Type_Beginning_Month               149781
Customer_Relation_Type_Beginning_Month      149781
Residence_Index                              27734
Foreigner_Index                              27734
Spouse_Index                              13645501
Channel_Customer_join                       186126
Deceased_Index                               27734
Address_Type                                 27735
Province_Code                                93591
Province_Name                                93591
Activity_Index                               27734
Household_Income                           2794375
Segmentation                                189368
Saving_Account                                   0
Guarantees                                       0
Current_Account                                  0
Derivada_Account                                 0
Payroll_Account                                  0
Junior_Account                                   0
MAS_Particular_Account                           0
Particular_Account                               0
Particular_Plus_Account                          0
Short_Term_Deposit                               0
Medium_Term_Deposit                              0
Long_Term_Deposit                                0
E_Account                                        0
Funds                                            0
Mortgage                                         0
Pensions                                         0
Loans                                            0
Taxes                                            0
Credit_card                                      0
Securities                                       0
Home_Account                                     0
Payroll                                      16063
Pensions                                     16063
Direct_Debit                                     0
dtype: int64

In [15]:
train_data_copy.dtypes.value_counts()

int64      23
object     17
float64     8
dtype: int64

In [17]:
# Save dataframe having english column names to file
train_data_copy.to_csv("train.csv")