In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [37]:
train_data = pd.read_csv("train_ver2.csv")

C:\Users\naikpa.ADS\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [38]:
train_data.columns = ['Date','Customer_Code','Employee_Index','Customers_Country_Residence','Sex','Age','Date_Acc_Open','New_customer_index','Customer_Seniority','Primary_Customer','Last_Date_Primary_Customer','Customer_Type_Beginning_Month','Customer_Relation_Type_Beginning_Month','Residence_Index','Foreigner_Index','Spouse_Index','Channel_Customer_join','Deceased_Index','Address_Type','Province_Code','Province_Name','Activity_Index','Household_Income','Segmentation','Saving_Account','Guarantees','Current_Account','Derivada_Account','Payroll_Account','Junior_Account','MAS_Particular_Account','Particular_Account','Particular_Plus_Account','Short_Term_Deposit','Medium_Term_Deposit','Long_Term_Deposit','E_Account','Funds','Mortgage','Pensions','Loans','Taxes','Credit_card','Securities','Home_Account','Payroll','Pensions','Direct_Debit']

In [39]:
train_data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13647309 entries, 0 to 13647308
Data columns (total 48 columns):
Date                                      object
Customer_Code                             int64
Employee_Index                            object
Customers_Country_Residence               object
Sex                                       object
Age                                       object
Date_Acc_Open                             object
New_customer_index                        float64
Customer_Seniority                        object
Primary_Customer                          float64
Last_Date_Primary_Customer                object
Customer_Type_Beginning_Month             object
Customer_Relation_Type_Beginning_Month    object
Residence_Index                           object
Foreigner_Index                           object
Spouse_Index                              object
Channel_Customer_join                     object
Deceased_Index                            object
Address_Type                              float64
Province_Code                             float64
Province_Name                             object
Activity_Index                            float64
Household_Income                          float64
Segmentation                              object
Saving_Account                            int64
Guarantees                                int64
Current_Account                           int64
Derivada_Account                          int64
Payroll_Account                           int64
Junior_Account                            int64
MAS_Particular_Account                    int64
Particular_Account                        int64
Particular_Plus_Account                   int64
Short_Term_Deposit                        int64
Medium_Term_Deposit                       int64
Long_Term_Deposit                         int64
E_Account                                 int64
Funds                                     int64
Mortgage                                  int64
Pensions                                  int64
Loans                                     int64
Taxes                                     int64
Credit_card                               int64
Securities                                int64
Home_Account                              int64
Payroll                                   float64
Pensions                                  float64
Direct_Debit                              int64
dtypes: float64(8), int64(23), object(17)
memory usage: 15.3 GB

Reference - https://www.dataquest.io/blog/pandas-big-data/

In [40]:
def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # we assume if not a df it's a series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # convert bytes to megabytes
    return "{:03.2f} MB".format(usage_mb)

train_data_int = train_data.select_dtypes(include=['int64'])
converted_int = train_data_int.apply(pd.to_numeric,downcast='unsigned')

print(mem_usage(train_data_int))
print(mem_usage(converted_int))

2394.78 MB
338.39 MB

In [41]:
train_data_float = train_data.select_dtypes(include=['float64'])
converted_float = train_data_float.apply(pd.to_numeric,downcast='float')

print(mem_usage(train_data_float))
print(mem_usage(converted_float))

832.97 MB
416.48 MB

In [42]:
optimized_train_data = train_data.copy()

optimized_train_data[converted_int.columns] = converted_int
optimized_train_data[converted_float.columns] = converted_float

print(mem_usage(train_data))
print(mem_usage(optimized_train_data))

15691.52 MB
13257.70 MB

In [43]:
train_data_object = train_data.select_dtypes(include=['object'])
train_data_object.head()

,Date,Employee_Index,Customers_Country_Residence,Sex,Age,Date_Acc_Open,Customer_Seniority,Last_Date_Primary_Customer,Customer_Type_Beginning_Month,Customer_Relation_Type_Beginning_Month,Residence_Index,Foreigner_Index,Spouse_Index,Channel_Customer_join,Deceased_Index,Province_Name,Segmentation
0,2015-01-28,N,ES,H,35,2015-01-12,6,NaN,1,A,S,N,NaN,KHL,N,MALAGA,02 - PARTICULARES
1,2015-01-28,N,ES,V,23,2012-08-10,35,NaN,1,I,S,S,NaN,KHE,N,CIUDAD REAL,03 - UNIVERSITARIO
2,2015-01-28,N,ES,V,23,2012-08-10,35,NaN,1,I,S,N,NaN,KHE,N,CIUDAD REAL,03 - UNIVERSITARIO
3,2015-01-28,N,ES,H,22,2012-08-10,35,NaN,1,I,S,N,NaN,KHD,N,ZARAGOZA,03 - UNIVERSITARIO
4,2015-01-28,N,ES,V,23,2012-08-10,35,NaN,1,A,S,N,NaN,KHE,N,ZARAGOZA,03 - UNIVERSITARIO

In [44]:
train_data['Last_Date_Primary_Customer'].unique()

array([nan, '2015-07-02', '2015-07-23', '2015-07-06', '2015-07-30',
       '2015-07-20', '2015-07-08', '2015-07-22', '2015-07-17',
       '2015-07-09', '2015-07-03', '2015-07-29', '2015-07-13',
       '2015-07-21', '2015-07-27', '2015-07-14', '2015-07-01',
       '2015-07-24', '2015-07-15', '2015-07-16', '2015-07-28',
       '2015-07-07', '2015-07-10', '2015-08-21', '2015-08-19',
       '2015-08-25', '2015-08-14', '2015-08-24', '2015-08-17',
       '2015-08-18', '2015-08-10', '2015-08-13', '2015-08-27',
       '2015-08-03', '2015-08-06', '2015-08-20', '2015-08-26',
       '2015-08-28', '2015-08-05', '2015-08-11', '2015-08-07',
       '2015-08-04', '2015-08-12', '2015-09-17', '2015-09-01',
       '2015-09-18', '2015-09-03', '2015-09-02', '2015-09-14',
       '2015-09-16', '2015-09-29', '2015-09-28', '2015-09-09',
       '2015-09-22', '2015-09-08', '2015-09-11', '2015-09-21',
       '2015-09-04', '2015-09-25', '2015-09-07', '2015-09-10',
       '2015-09-23', '2015-09-24', '2015-09-15', '2015-10-08',
       '2015-10-07', '2015-10-13', '2015-10-26', '2015-10-29',
       '2015-10-05', '2015-10-28', '2015-10-09', '2015-10-22',
       '2015-10-20', '2015-10-15', '2015-10-06', '2015-10-01',
       '2015-10-21', '2015-10-16', '2015-10-27', '2015-10-19',
       '2015-10-23', '2015-10-02', '2015-10-14', '2015-11-23',
       '2015-11-24', '2015-11-12', '2015-11-04', '2015-11-13',
       '2015-11-25', '2015-11-19', '2015-11-20', '2015-11-03',
       '2015-11-16', '2015-11-17', '2015-11-11', '2015-11-27',
       '2015-11-18', '2015-11-10', '2015-11-26', '2015-11-02',
       '2015-11-05', '2015-11-06', '2015-11-09', '2015-12-21',
       '2015-12-18', '2015-12-28', '2015-12-24', '2015-12-04',
       '2015-12-29', '2015-12-16', '2015-12-11', '2015-12-30',
       '2015-12-15', '2015-12-01', '2015-12-09', '2015-12-10',
       '2015-12-17', '2015-12-02', '2015-12-14', '2015-12-03',
       '2015-12-22', '2015-12-23', '2015-12-07', '2016-01-08',
       '2016-01-14', '2016-01-13', '2016-01-28', '2016-01-05',
       '2016-01-19', '2016-01-12', '2016-01-18', '2016-01-21',
       '2016-01-22', '2016-01-07', '2016-01-20', '2016-01-26',
       '2016-01-15', '2016-01-27', '2016-01-25', '2016-01-11',
       '2016-01-04', '2016-02-23', '2016-02-19', '2016-02-18',
       '2016-02-26', '2016-02-12', '2016-02-24', '2016-02-09',
       '2016-02-08', '2016-02-11', '2016-02-05', '2016-02-04',
       '2016-02-03', '2016-02-15', '2016-02-22', '2016-02-10',
       '2016-02-16', '2016-02-01', '2016-02-17', '2016-02-02',
       '2016-02-25', '2016-03-07', '2016-03-29', '2016-03-10',
       '2016-03-18', '2016-03-14', '2016-03-22', '2016-03-08',
       '2016-03-21', '2016-03-30', '2016-03-01', '2016-03-23',
       '2016-03-02', '2016-03-24', '2016-03-03', '2016-03-09',
       '2016-03-11', '2016-03-04', '2016-03-16', '2016-03-28',
       '2016-03-15', '2016-03-17', '2016-04-22', '2016-04-01',
       '2016-04-06', '2016-04-12', '2016-04-05', '2016-04-15',
       '2016-04-13', '2016-04-19', '2016-04-04', '2016-04-18',
       '2016-04-26', '2016-04-11', '2016-04-25', '2016-04-27',
       '2016-04-08', '2016-04-07', '2016-04-21', '2016-04-28',
       '2016-04-20', '2016-04-14', '2016-05-23', '2016-05-05',
       '2016-05-17', '2016-05-19', '2016-05-12', '2016-05-06',
       '2016-05-03', '2016-05-20', '2016-05-02', '2016-05-16',
       '2016-05-18', '2016-05-04', '2016-05-13', '2016-05-24',
       '2016-05-27', '2016-05-10', '2016-05-30', '2016-05-25',
       '2016-05-11', '2016-05-09', '2016-05-26'], dtype=object)

In [45]:
train_data_object.drop(['Date','Age','Date_Acc_Open','Last_Date_Primary_Customer'],axis=1,inplace=True)

converted_obj = train_data_object.copy()

for column in train_data_object:
    converted_obj[column] = train_data_object[column].astype('category')
    
print(mem_usage(train_data_object))
print(mem_usage(converted_obj))

C:\Users\naikpa.ADS\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

9748.20 MB
195.30 MB

In [46]:
optimized_train_data[converted_obj.columns] = converted_obj

In [47]:
print(mem_usage(train_data))
print(mem_usage(optimized_train_data))

15691.52 MB
3704.80 MB

In [48]:
date_columns = ['Date','Date_Acc_Open','Last_Date_Primary_Customer']

for dc in date_columns:
    optimized_train_data[dc] = pd.to_datetime(optimized_train_data[dc], format='%Y-%m-%d')

In [49]:
print(mem_usage(train_data))
print(mem_usage(optimized_train_data))

15691.52 MB
1856.76 MB

In [51]:
optimized_train_data.to_csv('train.csv')

In [15]:
print(mem_usage(optimized_train_data))

1856.76 MB

In [50]:
optimized_train_data.to_pickle("train.pkl")

In [52]:
optimized_train_data['Date'].head(5)

0   2015-01-28
1   2015-01-28
2   2015-01-28
3   2015-01-28
4   2015-01-28
Name: Date, dtype: datetime64[ns]